@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

/* CSS Variables */

body {
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate-color);
  line-height: 1.5em;
  margin: 0;
}

:root {
  --irishcolor: #4d5ae5;
  --navy-blue-color: #2e2f42;
  --slate-color: #434455;
  --white-color: #ffffff;
  --cornflower-color: #e7e9fc;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --cloud-color: #f4f4fd;
  --slate-color: #434455;
  --lightslate-color: #8e8f99;
  --green-color: #31d0aa;
  --dairy-color: #fcfcfc;
  --heading-one: 56px;
  --heading-two: 36px;
  --heading-three: 20px;
  --paragraph-text-size: 16px;
  --font-family-roboto: "roboto", san-serif;
  --font-family-raleway: "raleway", san-serif;
  --border-client: #afb1b8;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --border-client: #8e8f99;
  --footer-background: #2f303a;
}

/* Global Style */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

.list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* Studio Header */
.header {
  border-bottom: 1px solid var(--cornflower-color);
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  z-index: 999;
}

.heading-web_word {
  font-family: var(--font-family-raleway);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03px;
  color: var(--iris-color);
  display: inline-flex;
}

.heading-studio_word {
  font-family: var(--font-family-raleway);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03px;
  color: var(--navy-blue-color);
  display: inline-flex;
}

/* Navigation Section */
.header-container {
  display: flex;
  justify-content: space-between;
}

.heading-navigation {
  display: inline-flex;
  align-items: center;
}

.contact-links {
  display: inline-flex;
  align-items: center;
}

.navigation-menu {
  display: inline-flex;
  margin-left: 76px;
}

.navigation-menu_item:not(:last-child) {
  margin-right: 40px;
  position: relative;
}

.navigation-menu_link {
  position: relative;
  color: var(--iris-color);
  font-weight: 500;
  color: var(--navy-blue-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu_link::after {
  display: block;
  content: "";
  height: 4px;
  width: 0;
  background-color: var(--ocean-color);
  position: absolute;
  top: 44px;
  border-radius: 2px;

  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu_link:hover,
.navigation-menu_link:focus {
  color: var(--ocean-color);
  width: 100%;
}

.navigation-menu_link:hover::after,
.navigation-menu_link:focus::after {
  color: var(--ocean-color);
  width: 100%;
}

.contact-links_item:not(:first-child) {
  margin-left: 40px;
}

.contact-links_link {
  color: var(--slate-color);
  font-size: 16px;
  display: block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links_link:hover,
.contact-links_link:focus {
  color: var(--ocean-color);
}

.link-active {
  color: var(--iris-color);
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--ocean-color);
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
}

/* Studio Hero Section  */
.hero {
  background-image: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  text-align: center;
}

.hero-title {
  font-size: var(--heading-one);
  font-weight: 700;
  line-height: 1.2;
  color: var(--white-color);
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}

.hero-button {
  font-size: var(--paragraph-text-size);
  font-family: var(--font-family-roboto);
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--iris-color);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}

/* Studio Section 2 */
.benefits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -24px;
  margin-left: -20px;
}

.benefits_item {
  margin-top: 24px;
  margin-left: 20px;
}

.benefits-title {
  font-size: var(--heading-three);
  color: var(--navy-blue-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin: 0 0 8px 0;
}

.benefits-description {
  font-size: var(--paragraph-text-size);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.benefits-section {
  padding-bottom: 0;
}

.benefits-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud-color, #f4f4fd);
  margin-bottom: 8px;
}

.benefits-icon {
  cursor: auto;
}

/* Services Section Styling */
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -24px;
}

.section-title {
  color: var(--navy-blue-color);
  font-size: var(--heading-two);
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
  letter-spacing: 0.72px;
  text-align: center;
  margin: 0;
  margin-bottom: 72px;
}

.services-list_item {
  margin-top: 24px;
  margin-left: 24px;
}

/* Our Team Section  */
.our-team_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -24px;
}

.our-team-list_item {
  flex-direction: column;
  background-color: var(--white-color);
  padding-bottom: 32px;
  margin-top: 24px;
  margin-left: 24px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team_title {
  font-size: var(--heading-three);
  color: var(--navy-blue-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.our-team_description {
  font-size: var(--paragraph-text-size);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin: 0;
}

.our-team-section {
  background-color: var(--cloud-color);
}

.our-team_social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -24px;
}

.our-team_social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-left: 24px;
  background-color: var(--iris-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team_social-item a:hover,
.our-team_social-item a:focus {
  background-color: var(--ocean-color);
}

.our-team_content {
  padding: 0 16px;
}

.our-team_social-profile {
  margin-top: 8px;
}

.our-team_social-icon {
  fill: var(--cloud-color);
}

/* Customer Section */
.customer-client-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -20px;
}

.customer-client-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-left: 20px;
  border-radius: 4px;
  border: 1px solid var(--lightslate-color, #8e8f99);
  color: var(--lightslate-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-client-item a:hover,
.customer-client-item a:focus {
  border: 1px solid var(--ocean-color, #8e8f99);
  color: var(--ocean-color);
}

.customer-icon {
  fill: currentColor;
}

/* Portfolio Page */
.tab-menu-section {
  padding-top: 96px;
}

.tab-button {
  color: var(--iris-color);
  background-color: var(--cloud-color);
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower-color);
  padding: 12px 24px;
  font-family: var(--font-family-roboto);
  font-size: var(--paragraph-text-size);
  line-height: 1.5;
  cursor: pointer;
  transition-property: background-color, color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-tab {
  color: var(--white-color);
  background-color: var(--ocean-color);
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--ocean-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
}

.tab-button:hover,
.tab-button:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--ocean-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-list_item:not(:last-child) {
  margin-right: 24px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
  margin-left: -24px;
}

.project_item {
  margin-top: 48px;
  margin-left: 24px;
}

.project-box {
  border: 1px solid var(--cornflower-color);
  border-top: none;
  padding: 32px 16px;
}

.project_item a {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project_item a:hover,
.project_item a:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-title {
  color: var(--navy-blue-color);
  font-size: var(--heading-three);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin: 0 0 8px 0;
}

.project-description {
  font-size: var(--paragraph-text-size);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
}

.project-item_overlay {
  overflow: hidden;
  position: relative;
}

.overlay-description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0;
  font-size: var(--paragraph-text-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--white-color);
  background-color: var(--iris-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project_item a:hover .overlay-description,
.project_item a:focus .overlay-description {
  transform: translateY(0);
}

/* Modal Section*/
.backdrop {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: auto;
  border-radius: 4px;
  padding: 72px 24px 24px;
  background: var(--dairy-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--cornflower-color);
  cursor: pointer;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  fill: currentColor;
}

.modal-title {
  color: var(--navy-blue-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
  margin-bottom: 34px;
}

.modal-content-form {
  display: block;
}

.modal-description-label:not(:last-child) {
  margin-bottom: 26px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 45px;
  padding-right: 20px;
  font-family: var(--font-family-roboto);
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: var(--navy-blue-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-description-label:hover .input-container,
.modal-description-label:focus .input-container,
.modal-description-label:hover .text-container,
.modal-description-label:focus .text-container {
  border: 1px solid var(--iris-color);
}

.modal-description-label:hover .input-icon,
.modal-description-label:focus .input-icon {
  fill: var(--iris-color);
}

.text-container {
  padding: 11px 15px;
  resize: none;
  font-size: 14px;
  border-radius: 4px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-text {
  margin-left: 10px;
}

.modal-checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  justify-content: flex-start;
  position: relative;
  top: 0;
  left: 0;
}

.form-column-1 {
  display: block;
  position: relative;
}

.form-column-2 {
  display: block;
  position: relative;
  margin-top: 24px;
}

.agree-newsletter {
  display: block;

  margin-bottom: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #8e8f99;
}

.checkbox {
  appearance: none;
  margin-left: -22px;
}

.checkbox-icon {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: sub;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-mark {
  display: block;
  width: 10px;
  height: 10px;
  fill: #fcfcfc var(--cloud);
}

.checkbox:checked + .checkbox-icon {
  background-size: contain;

  background-color: #404bbf;
  border-color: #404bbf;
}

.agreement-link {
  color: var(--iris-color);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
  letter-spacing: 0.48px;
}

.agreement-text {
  color: var(--lightslate-color);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
}

.label-text {
  color: var(--lightslate-color);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
  position: absolute;
  top: -22px;
}

.modal-button {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 4px;
  background: var(--iris-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  width: 169px;
  border: none;
  color: var(--white-color);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.64px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--ocean-color);
}

/* Footer Section */
.footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0;
}

.footer-text {
  color: var(--white-color);
  font-size: var(--paragraph-text-size);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 17.5px 0 0 0;
}

.footer-web_word {
  font-family: var(--font-family-raleway);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03px;
  color: var(--iris-color);
  display: inline-flex;
}

.footer-studio_word {
  font-family: var(--font-family-raleway);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03px;
  color: var(--cloud-color);
  display: inline-flex;
}

.footer-container {
  display: flex;
}

.footer-social-text {
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer-social-icon {
  margin-top: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  margin-top: -16px;
  margin-left: -16px;
}

.footer-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 50%;
  background-color: var(--iris-color);
  width: 40px;
  height: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item a:hover,
.footer-social-item a:focus {
  background-color: var(--green-color);
}

.footer-social-profile {
  fill: var(--cloud-color);
}

.column1-container {
  width: 30%;
  padding: 0;
  margin: 0;
}

.column2-container {
  width: 25%;
  padding: 0;
  margin: 0;
}

.column3-container {
  width: 45%;
  padding: 0;
  margin-left: 80px;
}

.footer-subscribe-text {
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.subscribe-button {
  border-radius: 4px;
  background: var(--iris-color);
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  color: var(--white, #fff);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean-color);
}

.form-field {
  border-radius: 4px;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 40px;
  background-color: transparent;
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
  width: 264px;
  margin-right: 24px;
  color: var(--white-color);
  padding: 8px 16px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover,
.form-field:focus {
  border: 1px solid var(--green-color);
}

.footer-form {
  margin-top: 16px;
  display: flex;
}

/* Media query Responsive */

.menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  border: 1px solid var(--cornflower-color);
}

.mobile-menu {
  padding: 0;
  margin-top: 40px;
}

.mobile-menu .link {
  display: flex;
  justify-content: center;
  /* display: block; */
  /* padding: 10px; */
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburger-container {
    display: none;
  }

  .menu-toggle {
    display: none;
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: var(--ocean-color);
  }
}

/* Hamburger Menu*/
.hamburger-menu-link {
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.5;
  color: var(--navy-blue-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu-link:focus {
  color: var(--iris-color);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.hamburger-contact-link {
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1.5;
  color: var(--iris-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-contact-link:focus {
  color: var(--ocean-color);
}

.mobile-contact-link {
  margin-top: 284px;
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 40px;
}

.email-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--slate-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link:focus {
  color: var(--iris-color);
}

.mobile-menu-social-list {
  display: flex;
  margin-top: 48px;
  flex-wrap: wrap;
}

.mobile-social-item a {
  margin-bottom: 40px;
}

.mobile-social-item:not(:last-child) {
  margin-right: 56px;
}

.mobile-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris-color);
  width: 40px;
  height: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-item a:hover,
.mobile-social-item a:focus {
  background-color: var(--green-color);
}

/* Media query Mobile Responsive */
@media screen and (min-width: 320px) {
  .section {
    width: 100%;
  }
}

/* Media Query Tablet Responsive  */
@media (max-width: 1158px) {
  .navigation-menu_link::after {
    top: 57px;
  }

  .header {
    padding: 24px 0;
  }

  .section {
    padding: 96px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .contact-links {
    display: block;
    align-items: center;
  }

  .contact-links_link {
    padding: 0;
  }

  .contact-links_item:not(:first-child) {
    margin-left: 0px;
  }

  /* Hero Section */
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
  }

  /* Benefits Section */

  .benefits_item {
    width: 342px;
  }

  .benefits_item_tablet-view:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }

  .benefits {
    justify-content: center;
    flex-wrap: wrap;
  }

  .benefits-icon-container {
    display: none;
  }

  .benefits-title {
    font-size: 36px;
    font-weight: 700;
  }

  .benefits-description {
    text-align: left;
    font-weight: 500;
  }

  /* Services Section */
  .services-section {
    display: none;
  }

  /* Our Team Section */
  .our-team_list {
    justify-content: center;
  }

  .our-team-list_item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 64px;
  }

  /* Customer Section */

  .customer-client-list {
    justify-content: center;
  }

  .customer-client-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 72px;
  }

  /* Portfolio Section */

  .project {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .container {
    width: 480px;
  }

  .tab-menu-section {
    padding: 64px 0 96px;
  }

  .filter-list {
    margin-bottom: 64px;
  }

  .project_item {
    width: 356px;
    margin-top: 0;
  }

  .project {
    margin-top: 64px;
  }

  .project_item:not(:last-child) {
    margin-bottom: 72px;
  }

  /* Footer Section */
  .footer {
    padding: 96px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-container {
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }

  .column1-container {
    margin-bottom: 72px;
    width: 50%;
  }

  .column1-container a {
    display: flex;
    justify-content: left;
    margin: auto;
  }

  .footer-text {
    display: flex;
    justify-content: left;
  }

  .column2-container {
    margin-bottom: 72px;
    width: 50%;
  }

  .footer-social-text {
    text-align: left;
  }

  .footer-social-icon {
    display: flex;
    justify-content: flex-start;
  }

  .footer-form {
    display: block;
  }

  .form-field {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .navigation-menu,
  .contact-links {
    display: none;
  }

  .footer-container {
    display: block;
  }

  .container {
    width: 100%;
  }

  .section {
    padding: 96px 0;
    display: flex;
    flex-wrap: wrap;
  }

  .hamburger-menu-icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 3px;
  }

  /* Hero Section */
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    font-size: 36px;
    margin-bottom: 72px;
  }

  /* Benefits Section */
  .benefits {
    display: block;
    margin: auto;
  }

  .benefits_item:not(:last-child) {
    margin-bottom: 72px;
  }

  .benefits-icon-container {
    display: none;
  }

  .benefits_item {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .benefits-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  .benefits-description {
    text-align: left;
    font-weight: 500;
  }

  /* Services Section */
  .services-section {
    display: none;
  }

  /* Our Team Section */
  .our-team_list {
    display: flex;
    justify-content: center;
  }

  .our-team-list_item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }

  /* Customer Section */
  .customer-client-list {
    justify-content: center;
  }

  .customer-client-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 72px;
  }

  /* Porfolio Media Query Page */
  .tab-menu-section {
    padding: 48px 0;
  }

  .filter-list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 48px;
  }

  .filter-list_item:not(:last-child) {
    margin-bottom: 16px;
  }

  .project {
    justify-content: center;
  }

  /* Footer Media Query */
  .footer {
    padding: 96px 0;

    display: flex;
    flex-wrap: wrap;
  }

  .footer-container {
    display: block;
    margin: 0 auto;
  }

  .column1-container {
    margin-bottom: 72px;
  }

  .column1-container a {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .footer-text {
    display: flex;
    justify-content: center;
  }

  .footer-text::after {
    display: flex;
    justify-content: center;
  }

  .column2-container {
    margin-bottom: 72px;
  }

  .footer-social-text {
    text-align: center;
  }

  .footer-social-icon {
    display: flex;
    justify-content: center;
  }

  .footer-form {
    display: block;
    text-align: center;
  }

  .form-field {
    display: block;
    width: 70%;
    margin: 0 auto 16px;
  }

  .footer-subscribe-text {
    text-align: center;
  }

  .column1-container {
    width: 100%;
  }

  .column2-container {
    width: 100%;
  }

  .column3-container {
    margin: 0 auto;
    width: 100%;
  }

  /* Responsive Menu */
  .menu-container {
    width: 100vw;
    height: 100vh;
  }

  .mobile-contact-item {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 583px) {
  .our-team-list_item:not(:last-child) {
    margin-bottom: 72px;
  }

  .mobile-contact-link {
    margin-top: 100px;
  }

  .hamburger-menu-link {
    font-size: 20px;
  }

  .hamburger-contact-link {
    font-size: 25px;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .mobile-contact-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .hamburger-menu-link:focus {
    color: var(--iris-color);
  }
}

@media screen and (max-width: 428px) {
  .form-field {
    width: 100%;
  }

  .our-team-list_item:not(:last-child) {
    margin-bottom: 72px;
  }

  .menu-container {
    padding: 16px;
  }

  /* Modal */
  .backdrop {
    padding: 0 16px;
  }

  .modal {
    width: 100%;
  }

  .mobile-social-item:not(:last-child) {
    margin-right: 25px;
  }
  .mobile-contact-link {
    display: block;
    justify-content: center;
    margin-top: 245px;
  }

  .contact-link-size {
    justify-content: center;
    font-size: 36px;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: var(--ocean-color);
  }

  .email-link {
    font-size: 20px;
    text-align: center;
  }
  .mobile-social-item {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 15vw;
  }
}

@media screen and (max-width: 391px) {
  .customer-client-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .our-team_social-list {
    flex-wrap: nowrap;
  }
  .agreement-text {
    max-width: 100%;
  }
}
